/*  your css code here. If applicable */
#main{
	background-color:#d2d2d3;
	border:1px solid black;
	width:400px;
	border-radius:25px;
	height:150px;
	display:flex;
   
	align-items:center;
	
	
}
#main>.green{
	
	background-color:green;
	border-radius:50%;
	border:1px solid green;
	width:25%;
	height:100px;
	margin:20px;
	
}
#main>.yellow{
	
	background-color:yellow;
	border-radius:50%;
	border:1px solid yellow;
	width:25%;
	height:100px;
	
}
#main>.red{
	
	background-color:red;
	border-radius:50%;
	border:1px solid red;
	width:25%;
	height:100px;
	margin:20px;
}