/*  your css code here. If applicable */
.container{
	background-color:#d2d2d3;
	border:5px solid black;
	width:400px;
	border-radius:25px;
	height:150px;
	display:flex;
	align-items:center;
	padding:10%;
	
}
.container>.green{
	
	background-color:green;
	border-radius:50%;
	border:1px solid green;
	width:25%;
	height:100px;
	
	
}
.container>.yellow{
	
	background-color:yellow;
	border-radius:50%;
	border:1px solid yellow;
	width:25%;
	height:100px;
	
}
.container>.red{
	
	background-color:red;
	border-radius:50%;
	border:1px solid red;
	width:25%;
	height:100px;
	
}